setuptools>=36.5.0
tqdm==4.23.4
scipy==0.19.1
matplotlib==2.1.0
networkx==2.2
numpy==1.22.0
HTSeq==0.11.0
Jinja2>=2.10.1
joblib==0.12.2
pytest==3.2.1
seaborn==0.9.0
pandas==0.24.2
pysam==0.15.1
pytest==3.2.1