body {margin: 0 auto; }

.header {
    background:#FB5F10;
    border:1px solid #4C4D4C;
    color: #4C4D4C;
    width:960px;
    margin:0px auto;
    font-family: forza;
    font-size: 300%;
    text-align: center;
}

h2 {
    background:#FB5F10;
    border:1px solid #4C4D4C;
    color: #4C4D4C;
    width:960px;
    margin:0px auto;
    font-family: forza;
    text-align: center;
}

h4 {
    color: #4C4D4C;
    font-family: forza;
    font-size: 130%;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th, td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}